@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.section::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
